/cache/
apps/frontend/config/app.yml
config/databases.yml
/log/
/logs/
uploads/
web/info.php
.project
.idea/

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar
